* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, rgba(255, 182, 193, 0.9), rgba(253, 253, 150, 0.8));
    font-family: 'Georgia', serif;
}

.contenedor {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    width: 80vw;
    max-width: 500px; /* Ajuste de ancho máximo para evitar que sea demasiado grande en pantallas más anchas */
    height: auto; /* Altura automática para ajustar el contenido */
    min-height: 60vh;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p {
    font-size: xx-large;
    color: #333;
    margin: 20px 0;
}

button {
    font-size: xx-large;
    padding: 1em 2em;
    color: white;
    background-color: #ff5f6d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff2e63;
}

#yesBtn {
    margin-right: 20px;
}

#noBtn {
    position: absolute;
}

@media (max-width: 600px) {
    .contenedor {
        width: 90vw; /* Más ancho en pantallas pequeñas para mejor uso del espacio */
        min-height: 50vh; /* Ajuste para que no sea demasiado alto en pantallas pequeñas */
    }
    
    p, button {
        font-size: large; /* Texto más pequeño para evitar desbordamiento */
    }
    
    button {
        padding: 0.75em 1.5em; /* Menos padding para ahorrar espacio */
    }

    #yesBtn, #noBtn {
        margin: 10px 0; /* Adaptación para botones en pantallas pequeñas */
    }
}
